includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    tmpDir: .phpstan-cache
    resultCachePath: %tmpDir%/resultCache-src.php
    level: max
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    treatPhpDocTypesAsCertain: false
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - RuntimeException
            - LogicException
    paths:
        - src
        - tests
